<div class="latencyProfilesContent">
    <div class="latencyProfileForm hide">
        <input type="hidden" id="latencyProfileId" value="" />
        <btn id="backToLatencyProfiles" class="btn btn-primary btn-sm">Back</btn>
        <div class="alert hide" id="statusText"></div>
        <h6>Please enter a name for your latency profile:</h6>
        <input id="latencyProfileName" type="text" name="latencyProfileName"><br/>
        <div id="latencyProfileAttributes">

        </div>
        <div id="latencyProfileButtons" style="clear:both">
            <button style="margin-left:0" id="addLatencyProfileAttribute" class="btn btn-primary btn-sm">Add Region Latency</button>
            <button style="margin-left:0" id="createLatencyProfile" class="btn btn-primary btn-sm">Create Profile</button>
        </div>
    </div>
    <div class="latencyProfilesTableContainer">
        <btn id="showCreateLatencyProfileFormButton" class="btn btn-primary btn-sm">Create Latency Profile</btn>
        <table id="latencyProfilesTable" class="table table-bordered table-striped mb-0">
            <thead>
            <tr>
                <th>Name</th>
                <th># Regions</th>
                <th>Edit</th>
                <th>Delete</th>
            </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
    </div>
</div>