    <div style="clear:both" class="playerProfileTemplate">
        <div class="float-left">
            <p>Remove</p>
            <a href="#"><img class="removeProfile" src="assets/closebutton.png" style="width:22px; height:22px; margin-left:5px"></a>
        </div>
        <div class="float-left">
            <p>Profile</p>
            <select id="playerProfile">
            </select>
        </div>
        <div class="float-left">
            <p>Latency Profile</p>
            <select id="latencyProfile">
                <option value="">None</option>
            </select>
        </div>
        <div class="float-left">
            <p>Num Players</p>
            <input class="numPlayers" type="number" value="0" style="width:100px"/>
        </div>
        <div>
            <p>Start Matching</p>
            <select id="timeDelay">
                <option value="0">Immediately</option>
                <option value="5">After 5 seconds</option>
                <option value="10">After 10 seconds</option>
                <option value="20">After 20 seconds</option>
                <option value="30">After 30 seconds</option>
                <option value="40">After 40 seconds</option>
                <option value="50">After 50 seconds</option>
                <option value="60">After 1 minute</option>
                <option value="70">After 1 minute 10 seconds</option>
                <option value="80">After 1 minute 20 seconds</option>
                <option value="90">After 1 minute 30 seconds</option>
                <option value="100">After 1 minute 40 seconds</option>
                <option value="110">After 1 minute 50 seconds</option>
                <option value="120">After 2 minutes</option>
                <option value="130">After 2 minutes 10 seconds</option>
                <option value="140">After 2 minutes 20 seconds</option>
                <option value="150">After 2 minutes 30 seconds</option>
                <option value="160">After 2 minutes 40 seconds</option>
                <option value="170">After 2 minutes 50 seconds</option>
                <option value="180">After 3 minutes</option>
            </select>
        </div>

    </div>