    <div style="clear:both" class="playerLatencyPolicy">
        <div class="float-left">
            <p>Period Start</p>
            <input type="number" class="periodStart" disabled="disabled" style="width:80px"/> seconds
        </div>
        <div class="float-left" style="margin-left:20px">
            <p>Period End</p>
            <input type="number" class="periodEnd" style="width:80px"/> seconds
        </div>
        <div class="float-left" style="margin-left:20px">
            <p>Max player latency</p>
            <input type="number" class="maxLatency" style="width:80px"/> milliseconds
        </div>
        <div class="float-left" style="margin-left:20px">
            <a style="margin-top:10px" class="removePlayerLatencyPolicy btn btn-primary btn-sm">Remove</a>
        </div>
    </div>