    <div style="clear:both" class="playerProfileTemplate">
        <div class="float-left">
            <p>Remove</p>
            <a href="#"><img class="removeProfile" src="assets/closebutton.png" style="width:22px; height:22px; margin-left:5px"></a>
        </div>
        <div class="float-left">
            <p>Profile</p>
            <select id="playerProfile">
            </select>
        </div>
        <div class=float-left">
            <p>Num Players</p>
            <input class="numPlayers" type="number" value="0"/>
        </div>
    </div>