    <div style="clear:both" class="regionLatency">
        <div class="float-left">
            <p>Remove</p>
            <a href="#"><img class="deleteRegionLatency" src="assets/closebutton.png" style="width:22px; height:22px; margin-left:5px"></a>
        </div>
        <div class="float-left">
            <p>Region</p>
            <select class="regionLatencyForm-name"/></select>
        </div>
        <div class="float-left">
            <p>Min Latency MS</p>
            <input class="regionLatencyForm-minLatency" type="number" style="width:100px" value="20"/>
        </div>
        <div class="float-left">
            <p>Max Latency MS</p>
            <input class="regionLatencyForm-maxLatency" type="number" style="width:100px" value="300"/>
        </div>
    </div>