<div>
    <div class="alert hide" id="statusText"></div>
    <div class="ruleSetsContent">
        <table id="ruleSetsTable" class="table table-bordered table-striped mb-0">
            <thead>
            <tr>
                <th>Name</th>
                <th>View</th>
                <th>Create Copy</th>
                <th>Delete RuleSet</th>
            </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
    </div>
    <div class="ruleSetsDetailContent hide" style="">
        <btn id="backButton" class="btn btn-primary btn-sm">Back</btn>
        <btn id="validateButton" class="btn btn-primary btn-sm hide">Validate</btn>
        <btn id="saveButton" class="btn btn-primary btn-sm hide">Save</btn>
        <div class="alert hide" id="statusText"></div>
        <div id="ruleSetJson" style="height: 600px;">
        </div>
    </div>
</div>
