    <div style="clear:both" class="scheduleRuleTemplate">
        <hr/>
        <div class="float-left">
            <p>Remove</p>
            <a href="#"><img class="removeScheduleRule" src="assets/closebutton.png" style="width:22px; height:22px; margin-left:5px"></a>
        </div>
        <div class="float-left">
            <p>Schedule Rule Type</p>
            <select id="scheduleRuleType">
                <option value="">Select</option>
                <option value="linear">Linear</option>
                <option value="exponential">Exponential</option>
                <option value="custom">Custom</option>
            </select>
        </div>
        <div class="float-left">
            <p>Num Players</p>
            <input class="numPlayers" type="number" value="0" style="width:100px"/>
        </div>
    </div>