<div>
    <div class="alert hide" id="statusText"></div>
    <div id="simulateMatchmakingSimulations">
    </div>
    <div id="simulateMatchmakingForm" class="hide">
    </div>
    <div id="simulateMatchmakingOutput" class="hide">
    </div>
    <div id="simulateMatchmakingResults" class="hide">
    </div>
    <div id="simulateMatchmakingTickets" class="hide">
    </div>
    <div id="simulateMatchmakingMatchInfo" class="hide">
    </div>
    <div id="simulateMatchmakingFailedTickets" class="hide">
    </div>
</div>
