        <div class="matchResultsContent">
            <btn id="backToSimulationOutput" class="btn btn-primary btn-sm">Back</btn>
            <div class="successfulMatchesContent">
                <h4 style="margin-top:20px;">Successful Matches</h4>
                <table id="successfulMatchesTable" class="table table-bordered table-striped mb-0">
                    <thead>
                    <tr>
                        <th>Date</th>
                        <th>Match ID</th>
                        <th>Players</th>
                        <th>Average Time</th>
                        <th>Match Info</th>
                    </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
            </div>
            <div class="failedMatchesContent">
                <div class="unmatchedPlayers">
                    <h4>Unmatched Players</h4>
                    <div class="columnToggle"></div>
                    <div class="failedMatchPlayersContent">
                        <table id="failedMatchPlayersTable" class="table responsive table-bordered table-striped mb-0">
                            <thead>
                            <tr>
                                <th>Profile</th>
                                <th>Player ID</th>
                                <th>Ticket Status</th>
                                <th>Match Time</th>
                            </tr>
                            </thead>
                            <tbody>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <!--
        <div class="failedMatchTicketEventsContent hide">
            <btn id="backToMatchResults" class="btn btn-primary btn-sm">Back</btn>
            <h4>Events</h4>
            <table id="failedMatchmakingTicketEventsTable" class="table table-bordered table-striped mb-0">
                <thead>
                <tr>
                    <th>Event Date</th>
                    <th>Type</th>
                    <th>View Detail</th>
                </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>

        <div class="failedMatchTicketEventDetailContent hide">
            <btn id="failedMatchTicketEventDetailBackButton" class="btn btn-primary btn-sm">Back</btn>
            <div id="failedMatchmakingTicketEventJson" style="width: 1000px; height: 575px;">

            </div>
        </div>
        -->

        <!--
        <div class="matchInfo hide">
            <div class="matchInfoHeader">
                <btn id="backToMatchResults" class="btn btn-primary btn-sm">Back</btn>
                View: <select class="selectMatchInfo">
                <option value="matchedPlayers">Matched Players</option>
                <option value="ruleMetrics">Rule Evaluation Metrics</option>
                <option value="matchTickets">Match Tickets</option>
            </select>
            </div>


            <div class="matchedPlayers">
                <h4>Matched Players</h4>
                <div class="columnToggle"></div>
                <div class="matchInfoPlayersContent">
                    <table id="matchInfoPlayersTable" class="table responsive table-bordered table-striped mb-0">
                        <thead>
                        <tr>
                            <th>Matched Team</th>
                            <th>Profile</th>
                            <th>Player ID</th>
                            <th>Match Time</th>
                        </tr>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="ruleEvaluationMetrics hide">
                <h4>Rule Evaluation Metrics</h4>
                <div class="ruleEvaluationMetricsContent">
                    <table id="ruleEvaluationMetricsTable" class="table table-bordered table-striped mb-0">
                        <thead>
                        <tr>
                            <th>Rule Name</th>
                            <th># Passed</th>
                            <th># Failed</th>
                        </tr>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="matchTickets hide">
                <div class="successfulMatchTicketHeadersContent">
                    <h4>Tickets</h4>
                    <p class="title mb-3"></p>
                    <table id="successfulMatchTicketHeadersTable" class="table table-bordered table-striped mb-0">
                        <thead>
                        <tr>
                            <th>Date</th>
                            <th>Ticket ID</th>
                            <th>Final Status</th>
                            <th>Events</th>
                            <th>View</th>
                        </tr>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>
                </div>

                <div class="successfulMatchTicketEventsContent hide">
                    <btn id="backToSuccessfulMatchTickets" class="btn btn-primary btn-sm">Back</btn>
                    <h4>Events</h4>
                    <table id="successfulMatchmakingTicketEventsTable" class="table table-bordered table-striped mb-0">
                        <thead>
                        <tr>
                            <th>Event Date</th>
                            <th>Type</th>
                            <th>View Detail</th>
                        </tr>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>
                </div>

                <div class="successfulMatchTicketEventDetailContent hide">
                    <btn id="successfulMatchTicketEventDetailBackButton" class="btn btn-primary btn-sm">Back</btn>
                    <div id="successfulMatchmakingTicketEventJson" style="width: 1000px; height: 575px;">

                    </div>
                </div>
            </div>
        </div>
        -->