        <div class="simulateMatchmakingForm">
            <btn id="backToMatchmakingSimulations" class="btn btn-primary btn-sm">Back</btn>
            <div class="simulateMatchmakingFormContent">
                <div style="margin-top:10px">
                    <p class="medium">Step 1 - Select the rule set to simulate:</p>
                    <select id="simulationRuleSet"></select>
                </div>
                <div style="margin-top:10px">
                    <p class="medium">Step 2 - Select the number of players for each player profiles to simulate:</p>
                    <div id="simulationPlayerProfiles">
                    </div>
                </div>
                <div style="clear:both">
                    <button style="margin-left:0" id="addPlayerProfile" class="btn btn-primary btn-sm">Add Player Profile</button>
                    <button style="margin-left:0" id="runSimulation" class="btn btn-primary btn-sm">Run Simulation</button>
                </div>
            </div>
        </div>