
        <div class="simulateMatchmakingTableContainer">
            <btn id="simulateMatchmakingButton" class="btn btn-primary btn-sm">Simulate Matchmaking</btn>
            <table id="matchmakingSimulationsTable" class="table table-bordered table-striped mb-0">
                <thead>
                <tr>
                    <th>Date</th>
                    <th>RuleSet</th>
                    <th>Players Matched</th>
                    <th>Game Sessions Matched</th>
                    <th>Total Events</th>
                    <th>View</th>
                </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>