        <div class="virtualPlayerTaskSchedulesTableContainer">
            <btn id="createSchedule" class="btn btn-primary btn-sm">Create Schedule</btn>
            <table id="virtualPlayerTaskSchedulesTable" class="table table-bordered table-striped mb-0">
                <thead>
                <tr>
                    <th>Schedule Name</th>
                    <th>Total Tasks To Launch</th>
                    <th>Total Schedule Duration</th>
                    <th>View</th>
                    <th>Delete</th>
                </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>