    <div class="virtualPlayerTaskLogs">
        <div class="refreshLogsButton"></div>
        <div class="alert hide" id="statusText"></div>
        <btn id="backButton" class="btn btn-primary btn-sm" style="margin-left: 10px; margin-top:4px;">Back</btn>
        <table id="virtualPlayersTaskLogsTable" class="table table-bordered table-striped mb-0">
            <thead>
            <tr>
                <th>Date</th>
                <th>Message</th>
            </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
    </div>
